<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799045641014-064el98mmc2il05na2o6a7h09ij3qaeh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799045641014-064el98mmc2il05na2o6a7h09ij3qaeh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>799045641014-b50nhhhjnepr211sn9csbkupr8mqcb9g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9CTY6Xb2kmC0gQj5YHd4igr0WfTo2CLg</string>
	<key>GCM_SENDER_ID</key>
	<string>799045641014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swappy.pin</string>
	<key>PROJECT_ID</key>
	<string>swappy-pin</string>
	<key>STORAGE_BUCKET</key>
	<string>swappy-pin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799045641014:ios:c024e4b4b58cfa21378997</string>
	<key>DATABASE_URL</key>
	<string>https://swappy-pin-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>