<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799045641014-4737tvbii1k1id1a3kfpa8kc17hhudgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799045641014-4737tvbii1k1id1a3kfpa8kc17hhudgp</string>
	<key>API_KEY</key>
	<string>AIzaSyA9CTY6Xb2kmC0gQj5YHd4igr0WfTo2CLg</string>
	<key>GCM_SENDER_ID</key>
	<string>799045641014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etsinf.pin</string>
	<key>PROJECT_ID</key>
	<string>swappy-pin</string>
	<key>STORAGE_BUCKET</key>
	<string>swappy-pin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799045641014:ios:51c8ec273e15e306378997</string>
	<key>DATABASE_URL</key>
	<string>https://swappy-pin-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>